body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #9ca8c9; /* Цвет фона веб-страницы */
    color: #000000; /* Цвет основного текста */ 
}
h1 {
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 35px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2 {
    color: #000000;
    font-size: 18px;
}
h1:hover { 
    animation: color-change 3s infinite; 
}
@keyframes color-change {
  10%   { color: rgb(255, 0, 0); }
  20%  { color: rgb(255, 123, 0); }
  30% { color: rgb(217, 255, 0); }
  40%   { color: rgb(0, 255, 21); }
  50%  { color: rgb(0, 255, 255); }
  60% { color: blue; }
  100% { color: rgb(183, 0, 255); }
}
    